html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.name {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 700;
}

.item {
  font-weight: bold;
  margin-bottom: 20px;
}

.item-data {
  font-weight: normal;
}

.flag {
  margin-left: 100px;
}
